# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.sqlite3

### System ###
.DS_Store

### Unit Testing ###
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

### Elastic Beanstalk ###
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
